body {
	background-color: black;
	font-family: 'Oxygen', sans-serif;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	cursor: default;
}

a:link, a:visited {
	font-size: 0.75em;
	text-decoration: none;
	color: rgb(26,26,26);
	letter-spacing: 2px;
}

a:hover {
	text-decoration: none;
	color: rgb(126,126,126);
	cursor: default;
}

div {
	display: block;
	text-align: center;
	color: white;
}

.current-passcode {
	text-align: left;
	left: 5px;
	top: 5px;
	color: rgb(56,56,56);
}

.warning {
	text-align: right;
	right: 5px;
	top: 5px;
	color: red;
}

.passcode-stage {
	margin-top: 50px;
	font-size: 16px;
}

.passcode-title {
	position: relative;
	/*right: 120px;*/
	margin-bottom: 10px;
	font-size: 1.5em;
}

.passcode-tip {
	position: relative;
	/*right: 120px;*/
	margin-bottom: 100px;
}

.pcPair1, .pcPair2, .pcPair3, .pcPair4, .pcPair5 {
	display: block;
	padding-top: 30px;
	font-size: 2em;
	width: 120px;
	height: 120px;
	border: 5px solid rgb(36,36,36);
	border-radius: 10px;
	padding-top: auto;
	padding-bottom: auto;
}

.hash {
	position: relative;
	/*right: 100px;*/
	margin-top: 80px;
	font-size: 2em;
	letter-spacing: 20px;
}

.result {
	display: none;
	position: relative;
	/*right: 120px;*/
	font-size: 0.8em;
	line-height: 25px;
}

#remote_control_stage {
	position: absolute;
	top: 150px;
	right: 50px;
	z-index: 0;
	width: 86px;
	height: 343px;
}

#rc_top {
	position: relative;
	top: 0;
	width: 86px;
	height: 46px;
	cursor: move;
	z-index: 1;
	background-image: url("../images/AppleTV_RC_Top.png");
	background-repeat: no-repeat;
	background-color: white;
}

#rc_butons {
	position: relative;
	top: 0;
	width: 86px;
	height: 51px;
	cursor: pointer;
	z-index: 2;
	background-color: white;
}

.imgButton {
	position: absolute;
	top: 0;
	width: 86px;
	height: 51px;
	z-index: 3;
	background-repeat: no-repeat;
	background-color: white;
}

#canvas_bt_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 51px;
	z-index: 7;
}

#canvas_bt_select {
	position: absolute;
	top: 0;
	left: 25px;
	width: 35px;
	height: 51px;
	z-index: 8;
}

#canvas_bt_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 51px;
	z-index: 9;
}

#rc_bottom {
	position: relative;
	top: 0;
	width: 86px;
	height: 246px;
	cursor: move;
	z-index: 10;
	background-image: url("../images/AppleTV_RC_Bottom.png");
	background-repeat: no-repeat;
	background-color: white;
}

@media (min-width: 768px) {
	.visible {
		display: none;
	}
}